/* import other stylesheet */
@import url("./functions.css");

:root {
	--color-background: #5b954b;
	--color-text: #fff;
	--font-family: "BeVietnamPro", Arial, sans-serif;
	--product-size: "0,1L";
	--material-size: "1L";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin-top: 2rem;
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-family);
	font-weight: 400;
}

h1 {
	font-size: clamp(30px, 5vw, 50px);
	max-width: 70vw;
	margin: 1rem 0 1rem 2rem;
	font-weight: 600;

	+ p {
		margin-left: 2rem;
	}
}

h2 {
	font-size: clamp(20px, 4vw, 40px);
	font-weight: 600;
	margin-bottom: .5rem;
}

p {
	font-size: clamp(16px, 3vw, 20px);
	max-width: 70ch;
	margin-bottom: 1rem;
}

section {
	max-width: 50rem;
	padding: 1rem 2rem;
}

article{
	position: relative;
	margin-bottom: 2rem;
}

label {
	margin-left: 1rem;

	&:has(input) {
		display: block;
		margin-left: 0;
		margin-top: 1rem;
	}

	> input {
		margin-right: 0.5rem;
	}
}

.invert{
	background-color: var(--color-text);
	color: black;
}

.icon {
	background-color: transparent;
	border: none;
	color: var(--color-text);
	cursor: pointer;

	&.help {
		position: absolute;
		top: 0;
		right: 0;
	}

	.tooltip {
		position: absolute;
		opacity: 0;
		right: 100%;
		background-color: var(--color-text);
		color: var(--color-background);
		padding: 0.5rem;
		border-radius: 0.5rem;
		font-size: clamp(10px, 2vw, 15px);
	}
	&:hover {
		.tooltip {
			opacity: 1;
		}
	}
}

.illustrations {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin: 2rem 0;

	& div {
		position: relative;

		&::before {
			content: var(--product-size);
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
		}

		&:nth-of-type(2)::before {
			content: var(--material-size);
			left: 43%;
		}
	}
}
