.type,
.material {
	display: none;
}

section:has(input[value="kamerplanten"]:checked) ~ section #kamerplanten-group,
section:has(input[value="kamerplanten"]:checked)
	~ section
	#kamerplanten-materiaal {
	display: block;
}

section:has(input[value="buitenplanten"]:checked)
	~ section
	#buitenplanten-group,
section:has(input[value="buitenplanten"]:checked)
	~ section
	#buitenplanten-materiaal {
	display: block;
}

section:has(input[value="groente-en-fruit"]:checked)
	~ section
	#groente-en-fruit-group,
section:has(input[value="groente-en-fruit"]:checked)
	~ section
	#groente-en-fruit-materiaal {
	display: block;
}